CREATE TABLE [dbo].[Car_product](
	[prod_cd] [int] PRIMARY KEY NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[price] [bigint] NOT NULL,
)
GO
INSERT [dbo].[Car_product] ([prod_cd], [brand], [type], [model], [price]) VALUES (1001, N'honda', N'hatchback', N'accord mini', 29900000)
INSERT [dbo].[Car_product] ([prod_cd], [brand], [type], [model], [price]) VALUES (1002, N'honda', N'sedan', N'accord deluxe', 39900000)
INSERT [dbo].[Car_product] ([prod_cd], [brand], [type], [model], [price]) VALUES (1003, N'honda', N'sedan', N'accord2 luxury', 55900000)
GO
