CREATE TABLE [dbo].[Car_orderdetail](
	[order_no] [int] NOT NULL,
	[prod_cd] [int] NOT NULL,
	[quantity] [int] NOT NULL
)
GO
INSERT [dbo].[Car_orderdetail] ([order_no], [prod_cd], [quantity]) VALUES (2000001, 1001, 2)
INSERT [dbo].[Car_orderdetail] ([order_no], [prod_cd], [quantity]) VALUES (2000003, 1002, 1)
INSERT [dbo].[Car_orderdetail] ([order_no], [prod_cd], [quantity]) VALUES (2000004, 1003, 1)
GO
ALTER TABLE [dbo].[Car_orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Car_orderdetail_Car_order] FOREIGN KEY([order_no])
REFERENCES [dbo].[Car_order] ([order_no])
GO
ALTER TABLE [dbo].[Car_orderdetail] CHECK CONSTRAINT [FK_Car_orderdetail_Car_order]
GO
ALTER TABLE [dbo].[Car_orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Car_orderdetail_Car_product] FOREIGN KEY([prod_cd])
REFERENCES [dbo].[Car_product] ([prod_cd])
GO
ALTER TABLE [dbo].[Car_orderdetail] CHECK CONSTRAINT [FK_Car_orderdetail_Car_product]
GO
